@charset "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #93A3B1, #636564);
    
}

main {
    background-color: white;
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(63, 43, 25, 0.512);
    width: 650px;
    padding: 15px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #322214;
    text-shadow: #b8886179;
}

h2 {
    color: #414241;
}

p {
    text-align: justify;
}